.head {
  border-bottom: 0.5px solid grey;
}

.workreferences {
  border-radius: "8px";
  background-color: "gainsboro";
  padding: "8px";
}

.AboutMeField {
  border-radius: '8px';
  background-color: gainsboro;
}

img {
  width: 100px;
  height: 100px;
}

.Date {
  font-size: 16px;
}

.SkillList {
  border-radius: "8px";
  background-color: "gainsboro";
  padding: "8px";
}